@font-face {
    font-family: 'CeraRoundProRegular';
    src: url(../../../assets/TypeMates\ \ CeraRoundProRegular.otf);
  }

.item-container { 
    transition: .3s ease;
    height: 2.5rem;
    width: 43rem;
    margin: 0 2rem;
    padding: .5rem 0;
    border-bottom: 1px solid rgb(236, 236, 236);
    overflow: hidden;
    cursor: pointer;
}

.expanded {
    height: 22rem;
}

