@font-face {
    font-family: 'CeraRoundProThin';
    src: url(../../../../assets/TypeMates\ \ CeraRoundProThin.otf);
  }


.coin-details {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 19rem;
}

