.nav-bar {
    display: flex;
    width: 100%;
}

.nav-bar li:not(.coins) {
    cursor: pointer;
    margin-right: 2rem;
    list-style-type: none;
}

.coins {
    margin-left: auto;
    list-style-type: none;
}

.no-active { 
    color: #c3c4c5;
}